<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="LogsFolder" value="E:\Microsoft Visual Studio\Projects\File Monitoring Service\Processing\Logs" />
		<add key="SourceFolder" value="E:\Microsoft Visual Studio\Projects\File Monitoring Service\Processing\Source" />
		<add key="DestinationFolder" value="E:\Microsoft Visual Studio\Projects\File Monitoring Service\Processing\Destination" />
	</appSettings>
</configuration>